/* Globals */
body {
  background-color: #494f5c;
  font-family: sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
/* Nav Container */
.nav {
  display: flex;
  align-items: center;
  height: 70px;
  box-shadow: 0 1px 10px #222;
}
.nav li .dropdown {
  display: none;
}
/* Nav Inner Container */
.inner-nav {
  width: 100%;
  max-width: 1500px;
  color: #a1a7b2;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-nav ul {
  display: flex;
  align-items: center;
  color: inherit;
}
.inner-nav ul .nav-link {
  margin: 0 15px;
}
.inner-nav ul li:nth-of-type(2)  {
  margin-left: 0;
}
.inner-nav .logo img {
  width: 50%;
}
/* Nav Search Bar */
.nav-search {
  display: flex;
  align-items: center;
  position: relative;
  color: #3c414b;
  width: 25%;
}
.nav-search input {
  width: 100%;
  padding-left: 10px;
  font-size: 1em;
  color: inherit;
  background-color: #7d828a;
  border: 0;
  height: 40px;
  border-radius: 4px;
}
.nav-search input:focus {
  outline: none;
}
.nav-search input::placeholder {
  color: inherit;
}
.nav-search i {
  position: absolute;
  right: 10px;
}
/* Nav Login/Sign up */
.nav-login button {
  width: 100px;
  font-size: inherit;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #757880;
  color: inherit;
  height: 50px;
}
.nav-login button:nth-of-type(1) {
  border-radius: 4px 0 0 4px;
  position: relative;
  left: 5px;
}
.nav-login button:nth-of-type(2) {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}
/* Main Container */
.container {
  max-width: 1500px;
  margin: auto;
  margin-top: 40px;
}
/* Base Grid Styles */
.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(402px, 1fr));
  margin-bottom: 30px;
}
/* Two Item Grid */
.grid.two-item {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(549px, 1fr));
}
.grid.four-item {
  grid-template: repeat(auto-fill, minmax(325px, 1fr)) / repeat(4, 1fr) ;
}
/* Grid Item */
.bundle-item {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 5px rgba(0,0,0,.45);
}
.bundle-image {
  height: 100%;
}
.bundle-image.large {
  max-height: 421px;
}
.bundle-image.small {
  max-height: 275px;
}
.bundle-image.x-small {
  max-height: 197px;
}
.bundle-image img:first-of-type {
  position: absolute;
  width: 100%;
  z-index: 0;
}
.bundle-overlay {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  position: relative;
}
.bundle-emblem {
  padding: 20px;
  align-items: center;
}
.bundle-emblem img:first-of-type {
  width: 20%;
  position: relative;
}
.bundle-emblem img:last-of-type {
  width: 40%;
  position: relative;
  margin-left: 20px;
}
.bundle-title {
  color: inherit;
  text-transform: inherit;
  background-color: #3b3e48;
  height: 4em;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
}
.bundle-title p {
  margin: 0;
}
.bundle-timeleft {
  color: inherit;
  text-transform: inherit;
  height: 4em;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
}
.bundle-timeleft .days-left {
  white-space: nowrap;
  border-radius: 1.75em;
  padding: 10px;
  color: white;
  font-size: 0.85em;
  border: 2px solid rgba(141,141,141,0.6);
  background-color: rgba(10,10,10,0.35);
}
/* Grid Item White */
.bundle-item.white .bundle-title, .bundle-timeleft {
  color: #494f5c;
}
.bundle-item.white .bundle-title {
  background-color: white;
}
.bundle-item.white .bundle-timeleft {
  background-color: #f7f7f7;
}
.bundle-item.white .bundle-timeleft .timeleft-info i {
  font-size: 20px;
  padding-left: 10px;
}
.bundle-item.white .bundle-timeleft .timeleft-info .small-icon img {
  width: 20px;
}
.bundle-item.white .bundle-timeleft .days-left {
  border: 1px solid #494f5c;
  border-radius: 4px;
  background-color: transparent;
  color: inherit;
}
footer {
  background-color: #3B3E48;
}
.inner-footer {
  max-width: 1500px;
  margin: auto;
}
