/* Globals */
body {
  background-color: #494f5c;
  font-family: sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
}
/* Nav Container */
.nav {
  display: flex;
  align-items: center;
  height: 70px;
  box-shadow: 0 1px 10px #222;
}
.nav li .dropdown {
  display: none;
}
/* Nav Inner Container */
.inner-nav {
  width: 100%;
  max-width: 1500px;
  color: #a1a7b2;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-nav ul {
  display: flex;
  align-items: center;
  color: inherit;
}
.inner-nav ul .nav-link {
  margin: 0 15px;
}
.inner-nav ul li:nth-of-type(2)  {
  margin-left: 0;
}
.inner-nav .logo img {
  width: 50%;
}
/* Nav Search Bar */
.nav-search {
  display: flex;
  align-items: center;
  position: relative;
  color: #3c414b;
  width: 25%;
}
.nav-search input {
  width: 100%;
  padding-left: 10px;
  font-size: 1em;
  color: inherit;
  background-color: #7d828a;
  border: 0;
  height: 40px;
  border-radius: 4px;
}
.nav-search input:focus {
  outline: none;
}
.nav-search input::placeholder {
  color: inherit;
}
.nav-search i {
  position: absolute;
  right: 10px;
}
/* Nav Login/Sign up */
.nav-login button {
  width: 100px;
  font-size: inherit;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #757880;
  color: inherit;
  height: 50px;
}
.nav-login button:nth-of-type(1) {
  border-radius: 4px 0 0 4px;
  position: relative;
  left: 5px;
}
.nav-login button:nth-of-type(2) {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}
.container {
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, minmax(470px, 1fr)) repeat(2, minmax(50%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(398px, 1fr));
}
.bundle-item {
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,.45);
}
.bundle-image {
  max-height: 270px;
  height: 100%;
}
.bundle-image img:first-of-type {
  position: absolute;
  width: 100%;
  z-index: 0;
}
.bundle-emblem {
  height: 100%;
  background-color: rgba(0,0,0,.5);
  position: relative;
}
.bundle-emblem img:first-of-type {
  width: 20%;
  position: relative;
}
.bundle-emblem img:last-of-type {
  width: 40%;
  position: relative;
  margin-left: 20px;
}
.bundle-title {
  background-color: #3b3e48;
  height: 4em;
  align-items: center;
}
.bundle-title p {
  margin: 0;
}
.bundle-timeleft {
  height: 4em;
  align-items: center;
  justify-content: space-between;
  background-color: #282c34;
}
.bundle-timeleft .days-left {
  border-radius: 1.75em;
  padding: 10px;
  color: white;
  font-size: 14px;
  border: 2px solid rgba(141,141,141,0.6);
  background-color: rgba(10,10,10,0.35);
}
